# Rust
/target
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/

# maturin wheels
target/wheels/

# OS
.DS_Store

# editors
.vscode/
.idea/
